<link href="actor-list.component.css">
<h2>{{title}}</h2>

<table class="table table-bordered table-striped border-primary">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>BirthDate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let actor of actors'>
            <td> {{ actor.id }}</td>
            <td> {{ actor.firstName}}</td>
            <td> {{ actor.lastName}}</td>
            <td> {{ actor.gender }}</td>
            <td> {{ actor.birthDate}}</td>
        </tr>
    </tbody>
</table>
