<!-- <link href="movie-list.component.css"> -->

<h2>{{title}}</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let movie of movies'>
            <td> {{ movie.id }}</td>
            <td> {{ movie.title}}</td>
            <td> {{ movie.year}}</td>
            <td> {{ movie.rating }}</td>
            <td> {{ movie.director }}</td>
        </tr>
    </tbody>
</table>